body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  height: 50px;
  width: calc(100vw - 20px);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.hamburgerMenuContainer {
  width: 20%;
  display: flex;
  justify-content: center;
}

.hamburgerMenu{
    height: 40px;
    width: 40px;
    max-width: 10vw;
    background-color: grey;
}

.title{
  width:60%;
  text-align: center;
  font-size: 30px;
  font-family: 'Alata', sans-serif;
}

.dogButtonContainer {
  width: 20%;
  display: flex;
  justify-content: center;

}

.dogButton{
  height: 40px;
  width: 60px;
  background-color: grey;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}


.dogButtonSelected{
  justify-content: flex-end;
}

.toggleCircle{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 40px;
}

.heroContainer {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.heroImage{
  width: 30vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30vw;
}

.imageLeft{
  background-image: url("assets/1a.png");
}

.imageWordsLeft{
  background-image: url("assets/1b.png");
}

.imageDogLeftInactive{
  background-image: url("assets/1c.png");
  opacity: 0;
  transition: opacity 0.5s;
}

.imageDogLeft{
  background-image: url("assets/1c.png");
  opacity: 1;
  transition: opacity 0.5s;
}

.imageCenter{
  background-image: url("assets/2a.png");
}

.imageWordsCenter{
  background-image: url("assets/2b.png");
}

.imageDogCenterInactive{
  background-image: url("assets/2c.png");
  opacity: 0;
  transition: opacity 0.5s;
}

.imageDogCenter{
  background-image: url("assets/2c.png");
  opacity: 1;
  transition: opacity 0.5s;
}

.imageRight{
  background-image: url("assets/3a.png");
}

.imageWordsRight{
  background-image: url("assets/3b.png");
}

.imageDogRightInactive{
  background-image: url("assets/3c.png");
  opacity: 0;
  transition: opacity 0.5s;
}


.imageDogRight{
  background-image: url("assets/3c.png");
  opacity: 1;
  transition: opacity 0.5s;
}


.instaButtonContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.instaButton{
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  transition: color 1s, background-color 1s;
}

.instaButton:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.5s;
}



@media only screen  and (max-width: 979px) {

  .heroContainer {
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  .heroContainer::-webkit-scrollbar {display: none}

  .heroImage{
   width: 100vw;
   background-size: 80vw;
   scroll-snap-align: start;
   position: relative;
  }

  .indicatorDotContainer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .indicatorDots{
    width: 12vw;
    display: flex;
    justify-content: space-around;

  }


  .indicatorDot{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: grey;
  }

  .indicatorDotActive{
    background-color: black;
  }


}
